spring:
  application:
    name: expenze-backend
  datasource:
    url: jdbc:postgresql://${PGHOST:localhost}:${PGPORT:5432}/${PGDATABASE:expenze}
    username: ${PGUSER:postgres}
    password: ${PGPASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:

    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false
  flyway:
    baseline-on-migrate: true

  mail:
    host: ${EMAIL_HOST:smtp.gmail.com}
    port: ${EMAIL_PORT:465}
    username: ${EMAIL_USER}
    password: ${EMAIL_PASS}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
            trust: "*"
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000


server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET:defaultSecretKeyWhichShouldBeLongEnoughForHS256Algorithm}

ai:
  groq:
    api-key: ${GROQ_API_KEY:}
